@use 'breakpoints' as *;

.panel {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;

  @include xl {
    display: flex;
  }
}

.topRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bottomRow {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-end;
}
