@use 'breakpoints' as *;

.list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @include xl {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
