@use 'breakpoints' as *;

.list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @include lg {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  @include xl {
    gap: 32px;
  }
}
